/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
         url('../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
  }

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

  .body {
    font-family: roboto, sans-serif;
    font-Weight: 400
    font-size: 14px;
    line-height: 1.17;
  }

.header {
    background-color: #fff;
}

.logo-header {
    font-family: Raleway;
    font-weight: 700;
    line-height: 1.67;
}



.logo-web {
    color:#2196F3;
}

.logo-studio {
    color:#212121;
}

.link-contacts {
    color: #212121;
    font-family: roboto;
    font-weight: 500;
    line-height: 1.17;
}

.link-contacts:hover {
    color:#2196F3;
}

..link-contacts:focus {
    color:#2196F3;
}

.link-menu {
    color: #212121;
    font-family: roboto;
    font-weight: 500;
    line-height: 1.17;
}

.link-menu:hover {
    color:#2196F3;
}

.service-order {
    background-color:#2F303A;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border: 0px;
}

.button-text {
    color:#fff;
    font-family: roboto;
    font-weight: 700;
}

.service-order-text {
    color: #fff;
    font-family: roboto;
    font-weight: 900;
    line-height: 1.36;
}

.description {
    background-color: #fff;
}

.description-heading {
    color:#212121
    font-family: roboto;
    font-weight: 700;
    line-height: 1.17;
}

.description-text {
    color: #757575;
    font-family: roboto;
    font-weight: 400;
    line-height: 1.71;
}

.about-heading {
    color: #212121;
    font-family: roboto;
    font-weight: 700;
    line-height: 1.17;
}

.team {
    background-color: #F5F4FA;
}

.team-heading {
    color: #212121;
    font-family: roboto;
    font-weight: 700;
    line-height: 1.17;
}

.worker-name {
    color: #212121;
    font-family: roboto;
    font-weight: 500;
    line-height: 1.17;
}

.worker-position {
    color: #757575;
    font-family: roboto;
    font-weight: 400;
    line-height: 1.17;
}

.footer {
    background-color: #2F303A;
}

.footer-link-map {
    color: #fff;
    font-family: roboto;
    font-weight: 400;
    line-height: 1.17;
}

.footer-link-map:hover {
    color: #2196F3;
}

.footer-link-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-family: roboto;
    font-weight: 400;
    line-height: 1.17;
}

.footer-link-contacts:hover {
    color: rgba(33, 150, 243, 1);
}

.footer-link-contacts:focus {
    color: rgba(33, 150, 243, 1);
}

.logo-studio-footer {
    color: #fff;
}

.logo-footer {
    font-family: Raleway;
    font-weight: 700;
    line-height: 1.67;
}